
.jbbicon-b:before { content: '\e800'; } /* '' */
.jbbicon-code:before { content: '\e801'; } /* '' */
.jbbicon-u:before { content: '\e802'; } /* '' */
.jbbicon-alignleft:before { content: '\e803'; } /* '' */
.jbbicon-i:before { content: '\e804'; } /* '' */
.jbbicon-hr:before { content: '\e805'; } /* '' */
.jbbicon-emoticon:before { content: '\e806'; } /* '' */
.jbbicon-quote:before { content: '\e807'; } /* '' */
.jbbicon-aligncenter:before { content: '\e808'; } /* '' */
.jbbicon-img:before { content: '\e809'; } /* '' */
.jbbicon-ul:before { content: '\e80a'; } /* '' */
.jbbicon-alignright:before { content: '\e80b'; } /* '' */
.jbbicon-alignjustify:before { content: '\e80c'; } /* '' */
.jbbicon-edit:before { content: '\e80d'; } /* '' */
.jbbicon-preview:before { content: '\e80e'; } /* '' */
.jbbicon-vid:before { content: '\e80f'; } /* '' */
.jbbicon-ol:before { content: '\e810'; } /* '' */
.jbbicon-li:before { content: '\e811'; } /* '' */
.jbbicon-b2:before { content: '\e812'; } /* '' */
.jbbicon-u2:before { content: '\e813'; } /* '' */
.jbbicon-i2:before { content: '\e814'; } /* '' */
.jbbicon-trash:before { content: '\e815'; } /* '' */
.jbbicon-head:before { content: '\e816'; } /* '' */
.jbbicon-check:before { content: '\e817'; } /* '' */
.jbbicon-close:before { content: '\e818'; } /* '' */
.jbbicon-points:before { content: '\e819'; } /* '' */
.jbbicon-link:before { content: '\e81a'; } /* '' */
.jbbicon-highlight:before { content: '\e81b'; } /* '' */
.jbbicon-palette:before { content: '\e81c'; } /* '' */
.jbbicon-palette3:before { content: '\e81d'; } /* '' */
.jbbicon-size:before { content: '\e81e'; } /* '' */
.jbbicon-font:before { content: '\e81f'; } /* '' */
.jbbicon-font1:before { content: '\e820'; } /* '' */
.jbbicon-spoiler:before { content: '\e821'; } /* '' */
.jbbicon-s:before { content: '\e822'; } /* '' */
.jbbicon-s2:before { content: '\e823'; } /* '' */
.jbbicon-gist:before { content: '\e825'; } /* '' */
.jbbicon-fullscreen:before { content: '\e826'; } /* '' */
.jbbicon-jsf:before { content: '\e827'; } /* '' */
.jbbicon-x2:before { content: '\e828'; } /* '' */
.jbbicon-x:before { content: '\e829'; } /* '' */
