.jbbed-container.jbbed-dark {
    background-color: #262626;
    border: 1px solid #888;
}

.jbbed-dark .jbbed-editor,
.jbbed-dark .jbbed-preview {
    background-color: #ffffff24;
    border: 1px solid #4d4d4d;
    color: #ebebeb;
}

.jbbed-dark .jbbed-bar {
    border-bottom: 1px solid #484848;
}

.jbbed-dark .jbbed-button,
.jbbed-dark .jbbed-modal,
.jbbed-dark .jbbed-button.jbbed-smileys {
    border: 0 none;
    background-color: transparent;
}

.jbbed-dark .jbbed-button,
.jbbed-dark .jbbed-modal,
.jbbed-dark .jbbed-label {
    color: #828282;
}

.jbbed-dark .jbbed-button:hover,
.jbbed-dark .jbbed-modal:hover,
.jbbed-dark .jbbed-button.jbbed-smileys:hover {
    background-color: #ffffff2a;
}

.jbbed-dark .jbbed-button-select {
    border: 0 none;
    border-radius: 2px;
}

.jbbed-dark .jbbed-button:hover {
    border-color: #000;
}

.jbbed-dark .jbbicon-b:before {
    content: "\e812"
}

.jbbed-dark .jbbicon-i:before {
    content: "\e814"
}

.jbbed-dark .jbbicon-u:before {
    content: "\e813"
}

.jbbed-dark .jbbicon-s2:before {
    content: "\e822"
}

.jbbed-dark .jbbed-sep:before {
    border-left: .5px solid #ffffff54;
    border-right: .5px solid #ffffff54;
}

.jbbed-dark .jbbed-wrapper-tab {
    background-color: transparent;
    border: 0 none; 
    padding-left: 0;
    padding-right: 0;
}

.jbbed-dark .jbbed-tab-editor li,
.jbbed-dark .jbbed-tab-editor li.active,
.jbbed-dark .jbbed-fullscreen-button {
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 0;
  border: 0 none;
  background-color: transparent;
  color: #c7c7c7;
}

.jbbed-dark .jbbed-tab-editor li.active,
.jbbed-dark .jbbed-fullscreen-button.fullscreen-active {
  background-color: #ffffff3b;
  color: #c5c5c5;
}

.jbbed-dark .jbbed-dialog {
    background-color: #262626;
    border-color: #484848;
    color: #6e6e6e;
    box-shadow: 0 11px 11px 4px #00000017;
}

.jbbed-dark .jbbed-dialog-preview {
    border-color: #000;
    background-color: rgb(69 69 69);
    color: rgb(235 235 235);
}

.jbbed-dark .jbbed-color {
    border: 1px solid #888;
}

.jbbed-dark .jbbed-color:hover {
    border-color: #000;
}

.jbbed-dark .jbbed-color.checked::before {
    text-shadow: 0 0 1px #000;
    color: #fff;
}

.jbbed-dark .jbbed-del {
    background-color: transparent;
}

.jbbed-dark .jbbed-del:before,
.jbbed-dark .jbbed-del:after {
  background-color: #feac16;
  border: 1px solid #5a5a5a;
}

.jbbed-dark .jbbed-del:before {
    text-shadow: 1px 0px 1px #000;
    color: #000;
}

.jbbed-dark .jbbed-ok, 
.jbbed-dark .jbbed-no {
  background-color: #111111;
  border: 1px solid #8f8f8f; 
}

.jbbed-dark .jbbed-ok, 
.jbbed-dark .jbbed-no {
  background-color: #eee; 
  border: 1px solid #8f8f8f; 
}

.jbbed-dark .jbbed-ok {
    color: green;
}

.jbbed-dark .jbbed-ok:hover {
    border-color: green;
}

.jbbed-dark .jbbed-no {
    color: red;
}

.jbbed-dark .jbbed-no:hover {
    border-color: red;
}

.jbbed-dark .jbbed-spoiler-container {
    background-color: #333131;
    border: 1px solid #747474;
}

.jbbed-dark .jbbed-spoiler-container div {
    background-color: #454545;
}

.jbbed-dark .jbbed-spoiler-container button {
    background-color: #d14b4b;
    border: 1px solid #474747; 
    color: #fff;
}

.jbbed-dark .jbbed-preview pre {
    background-color: #e0ffe0; 
    color: #086208;
    border-left: 4px solid green;
}

.jbbed-dark .jbbed-preview pre li {
    border-bottom: 1px solid #9ed89e63;
}

.jbbed-dark .jbbed-preview blockquote {
    border-left: 4px solid #9c9c9c;
    background-color: #00000038;
}

.jbbed-dark .jsfiddle-snippet {
    background-color: #eee;
    box-shadow: 0px 10px 8px -4px #0000006b;
}